.accordion-item {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 5px;
    @include respond("phone-land") {
        margin-top: 0;
    }
}

.accordion-header {
    transition: ease-in-out 100ms;
    color: #0266AB;
    font-size: 1.8em;
    font-family: Gotham !important;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    img {
        width: 80px !important;
    }
}

.accordion-text {
    width: 80%;
    display: none;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: 85px;
    @include respond("phone-land") {
        margin-left: 30px;
    }
    p {
        font-family: Gotham !important;
        font-size: 16px !important;
        font-style: normal;
        font-weight: lighter;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: $textAzul;
    }
}

.fa {
    transition: ease-in-out 300ms;
}

.rotate-fa {
    transform: rotate(180deg);
}

.accordion-header .fa {
    margin-right: 35px;
    line-height: 35px;
    color: #F3A319;
}

.accordion-gold {
    // color: #F3A319;
    img {
        width: 90px;
    }
}

.accordion-no-bar {
    border-bottom: 0;
    overflow: hidden;
}