.main-blog{
    background-image: url(../../img/fondo/fondo-blog.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

.title-card-blog {
    width: 100% !important;
    font-size: 1.6rem;
    @include respond("tab-port") {
        font-size: 1.4rem;
    } 
}

blog-banner{
    width: 100%;
    height: 280px;
    background-size: cover;
    margin-top: 110px;
    @include respond("phone-land") {
        margin-top: 140px;
    }
}
blog-date{
    color: var(--color-primary);
    line-height: 3;
    font-weight: 500;
    display: flex;
    font: 20px var(--font-primary);
    margin-bottom: 40px;
    & img{
        margin-right: 10px;
        width: 20px;
    }
}

.richtext {
    font-family: var(--font-primary) !important;
    font-style: normal;
    font-weight: lighter;
    margin: auto;
    display: block;
    text-align: justify;
    h1 {
        font: 36px var(--font-secondary);
        color: var(--color-primary);
        font-weight: bold;
        margin-top: 20px;
    }
    .fecha {
      color: var(--color-primary);
      line-height: 3;
      font-weight: 500;
    }
    p{
        text-align: justify;
        color: #555;
        font-weight: lighter;
        font: 20px var(--font-primary) !important;
        font-style: normal;
        letter-spacing: 0em;
        margin-bottom: 20px;
        @include respond("phone") {
            text-align: left;
          }
    }
    h2 {
        font-size: 25px;
        color: var(--color-primary);
        font-weight: bold;
        margin-top: 50px;
    }
    a {
        font-size: 20px;
        color: var(--color-primary);
        list-style: none;
        text-decoration: none;
        background: #cef1ff;
        padding: 3px 10px;
        transition: all .2s ease;
        &:hover{
            background: var(--color-secondary);
            color: white;
        }
    }
    strong {
        color: #555;
        font-weight: bold;
    }
    ul {
        margin-top: 40px;
        list-style: none;
        margin-bottom: 40px;
        li {
            list-style: none;
            color: #555;
            font: 20px var(--font-primary) !important;
            font-weight: lighter;
            font-style: normal;
            letter-spacing: 0em;
            text-align: left;
            line-height: 30px;
            margin-left: 20px;
            padding-left: 0;
            position: relative;
            &:after{
                position: absolute;
                left: -20px;
                top: 8px;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: var(--color-secondary);
            }


        }
        p{
            margin-left: 20px;  
        }
    }
}

.product-item{
    position: relative !important;
    height: 450px !important;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px 0 15px;
    flex-basis: 30%;
    height: auto !important;
    justify-content: center;
    &::after {
        height: auto !important;   
    }
    @include respond("phone-land") {
        display: block;
        padding: 0;
    }
    .card {
        margin-bottom: 50px;
        margin-right: 10px;
        margin-left: 10px;
        width: 290px;
        @include respond("phone-land") {
            margin-right: 0;
            margin-left: 0;
        }
        @media (min-width: 1260px)  and (max-width: 1339px){
            width: 280px;
        }
        @media (min-width: 1220px)  and (max-width: 1259px){
            width: 270px;
        }
        @media (min-width: 1180px)  and (max-width: 1219px){
            width: 260px;
        }

        @media (min-width: 1140px)  and (max-width: 1179px){
            width: 250px;
        }

        @media (min-width: 940px)  and (max-width: 1119px){
            width: 320px;
        }
    }

    .textlinks{
        a{
            background: none !important;
            padding: 0;
        }
    }
    .text-card{
        padding: 10px 20px 10px 20px;
        span {
            font-family: var(--font-primary);
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #0266AB;
        }
        p {
            font-family: var(--font-primary) !important;
            font-style: normal !important;
            font-weight: lighter !important;
            font-size: 14px !important;
            line-height: 17px !important;
            padding-top: 10px;
            padding-bottom: 9px;
            color: #555;
        }
        .contentFecha {
            margin-top: -10px;
        }
    }
}