.button-first{
  background: #ffc927;
  background-blend-mode: soft-light, normal;
  box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
  border-radius: 20px !important;
  display: inline-flex;
  width: auto;
  margin-top: 50px;
  letter-spacing: 1px;
  padding: 20px 40px;
  color: white;
  font: 20px var(--font-primary);
  text-decoration: none;
  &:hover{
    background: var(--color-secondary);
    color: white;
    text-decoration: none;
  }

}

.button-icon{
  margin-right: 10px;
  filter: brightness(5);
  width: 35px;
}



.button-conocimiento,
.button-costureros,
.button-lavado {
  @include respond("phone") {
    width: 100%;
  }
  .text-conocimiento {
    height: auto;
  }
  .text-costureros,
  .text-lavado {
    height: auto;
    line-height: 1.2;
  }
}

.fondo-main {
  @include respond("phone") {
    width: auto;
    max-width: 90%;
    margin: 0 auto;
  }
}

.btn-prendas {
  height: 36px;
  width: 155px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px 0, 0, 0, 0.25;
  background: rgb(2, 102, 171, 1);
  display: none;
  margin: 0 auto;
  margin-bottom: 0 !important;
  .text-btn-prendas {
    font-family: Gotham !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 350;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(255, 255, 255, 1);
  }
  img {
    height: 10px;
    width: 16px;
    left: 304px;
    top: 1829px;
    border-radius: 0px;
  }
}

.owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  margin-top: 0px;
}


.owl-prev, .owl-next {
  position: relative !important;
  top: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-prev {
  border: 0;
  cursor: pointer;
  margin-right: -65px;
  text-transform: capitalize;
  background: #c3eeff !important;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: -80px !important;
  &:hover::before {
    border-color: var(--color-primary);
    opacity: 1;
  }
  &::before {
    border: solid var(--color-secondary);
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    height: 36px;
    padding: 2px;
    transform: rotate(135deg);
    width: 36px;
    margin-left: 15px !important;
    @media (min-width: 992px) and (max-width: 1250px) {
      margin-left: 0;
    }
    @include respond("tab-port") {
      margin-left: 0;
    }
    @include respond("phone") {
      margin-left: 5px;
    }
  }
}

.owl-next {
  border: 0;
  cursor: pointer;
  margin-right: -65px;
  text-transform: capitalize;
  background: #c3eeff !important;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 35px !important;
  &:hover::before {
    border-color: var(--color-primary);
    opacity: 1;
  }
  &::before {

    border: solid var(--color-secondary);
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    height: 36px;
    padding: 2px;
    transform: rotate(-45deg);
    width: 36px;
    margin-right: 15px !important;
    @media (min-width: 992px) and (max-width: 1250px) {
      margin-right: 0;
    }
    @include respond("tab-port") {
      margin-right: 0;
    }
    @include respond("phone") {
      margin-right: 5px;
    }
  }
}

.menu-open {
  @include respond("tab-port") {
    width: auto;
    background-color: #fff;
    box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5),
      13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
    height: calc(420px - 20px);
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 99;
  }
  @include respond("phone-land") {
    width: auto;
    background-color: #fff;
    box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5),
      13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
    height: calc(280px - 20px);
    position: absolute;
    top: 0;
    right: 40px;
  }
}

.cta {
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
  text-align: center;
  margin: 0 auto;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #ffc927;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin-left: 50%;
  transform: translateX(-50%);
  
}

.cta span {
  position: relative;
  line-height: 18px;
  font-family: Gotham !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 350;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 255, 255, 1);
  text-transform: uppercase;
  vertical-align: middle;
}

.card-prendas:hover .cta:before {
  width: 155px;
  border-radius: 10px;
  background: #0266ab;
  content: "";
  position: absolute;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  box-shadow: 0px 4px 4px 0px 0, 0, 0, 0.25;
  transition: all 0.3s ease;
  margin-left: 50%;
  transform: translateX(-50%);
}


.ctaMB {
  width: 155px;
  border-radius: 10px;
  background: #0266ab;
  content: "";
  position: absolute;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  box-shadow: 0px 4px 4px 0px 0, 0, 0, 0.25;
  transition: all 0.3s ease;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 12px 23px;
  @media only screen and (max-width: 360px) {
    width: 90%;
    text-align: center;
  }
  @media only screen and (max-width: 331px) {
    bottom: 35px;
  }

  span {
    position: relative;
    line-height: 18px;
    font-family: Gotham !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 350;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
    @media only screen and (max-width: 331px) {
      font-size: 11px;
    }
    @media only screen and (max-width: 298px) {
      font-size: 9px;
    }
    img {
      @media only screen and (max-width: 331px) {
        width: 12px;
      }
    }
  }
}

.ctaMB .ver {
  left: 5px;
  top: -8px;
  img {
    height: 10px;
    width: 16px;
    left: 304px;
    top: 1829px;
    border-radius: 0px;
  }
}

.cta .ver {
  display: none;
  left: 5px;
  top: -8px;
  img {
    height: 10px;
    width: 16px;
    left: 304px;
    top: 1829px;
    border-radius: 0px;
  }
}

.cta .mas {
  left: 0;
  top: -8px;
  @media only screen and (max-width: 1400px) {
    top: -10px;
  }
}

.card-prendas:hover .ver {
  display: block;
  transition: all 0.3s ease;
}

.card-prendas:hover .mas {
  display: none;
  transition: all 0.3s ease;
}

.cta:active {
  transform: scale(0.96);
}

.btn-menu-ws {
  @include respond("tab-port") {
    position: fixed;
    width: 0;
    height: 80px;
    min-width: 80px;
    right: 0;
  }
  @include respond("phone-land") {
    width: 0;
  }
  .icon-whatsapp {
    @include respond("tab-port") {
      margin-left: 30px;
      width: 40px;
      height: 40px;
    }
    @include respond("phone-land") {
      margin-left: 20px;
    }
  }
}