#slide-window {
  position: absolute;
  width: 770px;
  height: 770px;
  border-radius: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-top: -20%;
  @include respond("phone-land") {
    border-radius: 0;
    margin-right: 0;
    width: 100% !important;
    height: 600px!important;
  }
  @include respond("tab-land") {
    margin-right: 15px;
    width: 380px;
    height: 380px;
  }
}

#slides {
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.66s ease;
  -webkit-transition: all 0.66s ease;
  @include respond("phone-land") {
    width:100%;
    left: 0;
    margin-right: 0;
  }
}

.slide {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0px, 0px, 0px);
  visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.alive {
  visibility: visible;
}

.nav {
  position: absolute;
  z-index: 9;
  top: 50%;
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
  transition: all 0.66s ease;
  -webkit-transition: all 0.66s ease;
}

.nav:hover {
  opacity: 1;
}
#left {
  left: 3%;
}
#right {
  right: 3%;
}

#left,
#right {
  @include respond("tab-port") {
    z-index: 3;
  }
}

.owl-theme .owl-dots {
  text-align: left !important;
  @include respond("tab-port") {
    text-align: center !important;
  }
}

.test{
  position: absolute;
  z-index: 999;
  display: flex;
}
.active .test-squart{
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px var(--color-primary) !important
}
.test-squart {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px var(--color-secondary) !important;
  margin-right: 37px;
  @include respond("tab-port") {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
 
}
.test-one{
  background-image: url(../../img/slider/01.jpg);
  background-size: contain;
}
.test-two{
  background-image: url(../../img/slider/02.jpg);
  background-size: contain;
}
.test-three{
  background-image: url(../../img/slider/03.jpg);
  background-size: contain;
}
.test-four{
  background-image: url(../../img/slider/04.jpg);
  background-size: contain;
}


// Carousel mobile

.carouselMB {
  background: transparent;
  margin-top: 100px;
  margin-bottom: 100px;
}

.carousel-cell {
  width: 40%;
  height: 450px;
  margin-right: 50px;
  border-radius: 20px;
  counter-increment: carousel-cell;

  transform: scale(1) !important;
  transition: all 0.3s ease;
  background: #f1fbff;
  background-blend-mode: soft-light, normal;
  border: none;
  @include respond("phone-land") {
    width: 36%;
  }
  @include respond("phone") {
    width: 66%;
  }
}

.carousel-cell.is-selected {
  box-shadow: inset -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), inset 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
}

