.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 5.5rem;
    text-align: center;
    pointer-events: none;
    left: 85%;
    top: 34px;
    @include respond("phone-land") {
        top: 28px;
    }
}

input[type="text"] {
    width: 100%;
    margin: 7px 0px;
    display: inline-block;
    padding: 15px 25px;
    box-sizing: border-box;
    font-size: 1em;
    font-family:inherit;
    background: #ffffff;
    border: 1px solid #DCF1FF;
    color: #777;
    border-radius: .5rem;
    box-shadow: 0px 4px 24px rgba(224, 237, 242, 0.25); 
    right: auto;
    margin-top: 20px;
}
  
  input[type="text"]:focus {
    border: 1px solid #a9c9df;
    transition: all 0.3s ease;
  }

  ::placeholder {
    font-family: Gotham !important;
    font-style: normal;
    color: #46ABD2 !important;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  }