.my-tabs{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  @include respond("phone-land") {
    li {
      margin-bottom: 10px;
      text-align: center;
    }
  }

}
.my-tabs li{
  margin-right: 5px;
}

.content-call{
  margin: 30px auto;
  text-align: center;
}

.info-wsp{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section-tabs {
  margin-top: 100px;
  @media only screen and (max-width: 1400px){
    margin-top: 0px;
  }
  
}

.section-tabs,
.section-details {
  .contenT {
    font-family: Gotham !important;
    font-style: normal;
    font-weight: lighter;
    text-align: left;
    padding-bottom: 60px;
    margin-left: 30px;
    width: 100%;
    margin: auto;
    .ml-35 {
      margin-left: 35px !important;
    }
    @include respond("phone-land") {
      margin-left: 0;
      width: 100%;
    }

    .banner {
      width: 80%;
      margin: auto;
      display: block;
      border-radius: 15px;
      background-color: #e6e6e6;
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    .content-Details {
      width: 100%;
      margin: auto;
      display: block;
      @include respond("phone-land") {
        width: 100%;
      }
      .tags {
        background: #46abd2;
        color: #ffffff;
        font-family: Gotham !important;
        display: inline-flex;
        text-decoration: none;
        border: none;
        padding: 10px 12px;
        border-radius: 75px;
        cursor: pointer;
        position: relative;
        height: 35px;
        line-height: 1.2;
        margin-right: 20px;
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        img {
          margin-right: 5px;
        }
      }

      
    }
  }
}

.content-Details {
  width: 100%;
  margin: auto;
  display: block;
}

.sectionS {
  a {
    list-style: none;
    text-decoration: none !important;
  }
  .circle-slide {
    margin-right: 20px;
    margin-top: -20%;
    @include respond("phone-land") {
      margin-right: 0;
    }
  }
  .imgSlide {
    position: absolute;
    width: 100%;
    height: 120%;
    left: -20%;
    z-index: 2;
    margin-top: 0;
    top: -35%;
    transform: rotate(-368deg);
    @include respond("phone-land") {
      display: none;
    }
  }

  .text-slid {
    font-family: Gotham-bold !important;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    color: #787878;
    margin-left: 20px;
    margin-top: 15%;
    font-size: 50px;
    text-align: left;
    position: absolute;
    z-index: 5;
    width: 700px;
    @include respond("phone-land") {
      margin-left: 50px;
      font-size: 35px;
      width: 60%;
    }
    @include respond("tab-port") {
      font-size: 35px;
      z-index: 1;
    }
  }

  .azul {
    color: #46abd2;
  }
  .layer-btn {
    background: #ffc927;
    background-blend-mode: soft-light, normal;
    box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
    border-radius: 20px !important;
    display: inline-flex;
    width: auto;
    margin-top: 50px;
    letter-spacing: 1px;
    padding: 30px 50px;
    color: white;
    font-size: 20px;
    span {
      font-family: Gotham !important;
      font-style: normal;
      font-size: 16px;
      color: #46ABD2;
    }
    img {
      width: 25px;
      filter: brightness(2.5);
      margin-right: 10px;
    }


  }
}

.card {
  &:hover {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: all 0.3s ease;
  }
}

.font-mundo-textil {
  @include respond("tab-land") {
    margin-left: 25px;
    text-align: left;
  }
}

.sub-blueT {
  width: 60px;
  height: 5px;
  background: #a7defa;
  border-radius: 5px;
  @include respond("phone-land") {
    margin: 0 auto;
  }
  @include respond("tab-land") {
    margin-left: 25px;
  }
}

.tags {
  background: #46abd2;
  color: #ffffff;
  font-size: 16px !important;
  padding: 12px;
  img {
    margin-right: 5px;
  }
}


.fondo-hilo {
  padding-bottom: 20%;
}

.navbar {
  z-index: 10;
  padding:  0 !important;
  box-shadow: 0 1px 1px 0 #c9f0ff;
  background: white;
  position: fixed;
  width: 100%;
  @media only screen and (max-width: 1042px) {
    position: relative; 
  }
}

.navbar-content {
  width: 100%;
  padding: 0;
}

.my-lg-2N {
  height: 80px;
  @media (min-width: 991px) and (max-width: 1042px) {
    width: 106%;
    margin-left: -25px;
  }
}

.middleN {
  margin-top: 18px;
  @include respond("tab-port") {
    margin-top: 0px;
    height: 80px;
    background: antiquewhite;
  }
}

.ml-10 {
  margin-left: 10px;
  a {
    list-style: none;
    text-decoration: none;
    &:hover {
      background: $azul;
      color: #FFFFFF;
      transition: all 0.3s ease;
    }
  }
}

.owl-carousel-news .owl-item {
  height: 470px;
}

.grid_sorting_button.active {
  .tags {
    color: #FFFFFF;
    background: $azul;
  }
}

.prendas {
  @include respond("tab-port") {
    margin-top: -20px;
    margin-left: 0;
    margin-right: 0;
  }


  a {
    list-style: none;
    text-decoration: none !important;
  }
  .card-prendas {
    height: 100%;

    &:hover {
      transform: scale(1.1);
      transition: all .3s ease;
      background: #f1fbff;
      background-blend-mode: soft-light, normal;
      box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5),
        13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
      border-radius: 20px;
      border: none;
      .btn-prendas {
        display: block;
        transition: all 0.3s ease;
      }
    }
  }
}

@include respond("tab-port") {
  .disable-aos-mobile [data-aos],
  .disable-aos-mobile[data-aos] {
    // /CSS transitions/
    opacity: 1 !important;
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    // /CSS transforms/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    // /CSS animations/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

.w-200 {
  min-width: 200px;
}

.img-title {
  min-width: 100px;
  width: 100%;
  max-width: 80px;

  @media (max-width: 850px){
    margin: 0 auto;
    display: block;
    max-width: 30px
  }
}

.justify-content-end{
  @media (min-width: 992px) and (max-width: 1300px){
    margin-top: 75px;
  }
}

section .inner {
  display: block;
  top: 100px;
  @media screen and (max-width:1400px){
    top: 0;
  } 
}

.disable-desk{
  display: none;
  @include respond("tab-port") {
    display: block;
  }
}

.disable-mobile{
  display: block;
  @include respond("tab-port") {
    display: none;
  }
}

@include respond("tab-port") {
  .prendas .card-prendas:hover {
    transform: scale(1) !important;
  }
}