.tabs {
    width: 100%;
    margin: auto;
    &>ul {
        text-align: center;
        margin: 30px 0 0;
        padding: 0;
        position: relative;
        z-index: 1;
        list-style: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        @include respond("phone-land") {
            margin: 0;
            .button {
                padding: 10px 10px;
                font-size: .7em;
                height: 40px;
            }
        }
        &>li {
            display: inline-block;
            padding: 0.6em 0;
            position: relative;
            margin: 0 0 0 5px;
            &.ui-tabs-active,
            &.ui-state-hover {
                .button {
                    background: $azul;
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
      }
      &:after {
        content: none !important;
      }
}


li {
    &.active,
    &.hover {
        a {
            .button {
                background: $azul;
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}

.contents {
    font-family: Gotham !important;
    font-style: normal;
    font-weight: lighter;
    padding: 50px 10px;
    margin: auto;
    a {
        list-style: none;
    }
}

.contents2 {
    font-family: Gotham !important;
    font-style: normal;
    font-weight: lighter;
    padding: 50px 10px;
    min-height: 200px;
    width: 80%;
    margin: auto;
    display: block;
    a {
        list-style: none;
        text-decoration: none !important;
    }
}

.subtitle {
    font-family: Gotham !important;
    font-style: normal;
    margin-top: 15px;
    color: $textAzul;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.tab-pane {
    position: relative;
}

.sala-content {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.sala {
    width: 65%;
    margin: auto;
    display: block;
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0;
    @include respond("phone-land") {
        position: relative;
    }
}

.tab-content {
    margin-top: 40px;
    min-height: 800px;
    @media screen and (max-width: 1250px) {
        min-height: 800px;
    }
}

.active .my-tabs-button {
    background: var(--color-primary);
    color: white;
}

.my-tabs-button {
    font-family: var(--font-primary);
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(180deg, #D7ECF9 -77.78%, #C8E6F2 189.63%);
    border: none;
    color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 75px;
    cursor: pointer;
    position: relative;
    line-height: 2;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
}

.sala-content-items {
    display: inline-flex;
    flex-direction: column;
    font-family: var(--font-primary);
    margin-bottom: 10px;
}

.sala-items-header {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 50px;
    transition: all 0.3s ease;
    &:hover {
        background: var(--color-primary-light);
    }
}

.sala-items-header-img {
    width: 70px;
}

.sala-items-header-title {
    margin-left: 20px;
    font-size: 20px;
    color: var(--color-primary);
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: 1px;
}

.sala-content-items.active .sala-items-heade-arrow {
    transform: rotate(180deg);
}
.sala-items-heade-arrow {
    width: 20px;
    margin-left: 10px;
    transition: all .3s ease;
}

.sala-items-body {
    padding-top: 5px;
    list-style: none;
    background: #ffffff73;
    margin-bottom: 0;
    &>li:after {
        content: "";
        width: 7px;
        height: 7px;
        background: var(--color-secondary);
        position: absolute;
        top: 8px;
        left: 0;
        border-radius: 50%;
    }
    &>li:last-child{
        align-items: normal;
    }
    &>li {
        position: relative;
        padding-left: 20px;
        font-size: 16px;
        color: #555;
        margin-left: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: normal;
        align-content: center;
        & i {
            width: 30px;
            height: 30px;
            margin: 0 5px;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 100%;
            box-shadow: 0 -2px 0 1px #cecece61 inset, 0 2px 5px rgb(68 68 68 / 49%), 0 12px rgba(255, 255, 255, 0.25) inset;
            display: inline-block;
            cursor: grab;
            &.white {
                background: white;
            }
            &.skyblue {
                background: skyblue;
            }
            &.blue {
                background: #bbf1fa;
            }
            &.blue2 {
                background: #487e95;
            }
            &.blue3 {
                background: #23689b;
            }
            &.blue4 {
                background: #1a508b;
            }
            &.blue5 {
                background: #0d335d;
            }
            &.green {
                background: green;
            }
            &.green2 {
                background: #16c79a;
            }
            &.green3 {
                background: #007965;
            }
            &.green4 {
                background: #295939;
            }
            &.green5 {
                background: #184d47;
            }
            &.green6 {
                background: #799351;
            }
            &.brown {
                background: #804000;
            }
            &.gray {
                background: #9c9c9c;
            }
            &.navy-blue {
                background: #00304E;
            }
            &.black {
                background: black;
            }
            &.orange {
                background: orange;
            }
            &.crema {
                background: #ffffbf;
            }
        }
    }
    & span {
        color: var(--color-primary);
        margin-left: 10px;
        max-width: 300px;
    }
}