.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 360px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    height: 150px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 150px;
    z-index: 0;
    border-radius: 10px;
    /* border: 2px solid #ffc927; */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    /* box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4); */
}

.gallery-item.gallery-item-selected {
    box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
    height: 400px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    z-index: 2;
    border: 2px solid #ffc927;
    filter: blur(0px);
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
    height: 230px;
    opacity: 1;
    width: 230px;
    z-index: 1;
}

.gallery-item.gallery-item-previous {
    left: 15%;
    transform: translateX(-50%);
    /* border: 2px solid #ffc927; */
}

.gallery-item.gallery-item-next {
    left: 85%;
    transform: translateX(-50%);
}

.gallery-item.gallery-item-first {
    left: 15%;
    transform: translateX(-50%);
}

.gallery-item.gallery-item-last {
    left: 85%;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
    margin-top: 40px;
}

.gallery-controls button {
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 12px;
    text-transform: capitalize;
    background: #c3eeff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.gallery-controls button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous:hover:before {
    border-color: var(--color-primary);
    opacity: 1;
}

.gallery-controls-previous:before {
    border: solid var(--color-secondary);
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    height: 36px;
    padding: 2px;
    transform: rotate(135deg) translate(-5px,-7px);
    width: 36px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next:hover:before {
    border-color: var(--color-primary);
    opacity: 1;
}

.gallery-controls-next:before {
    border: solid var(--color-secondary);
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    height: 36px;
    padding: 2px;
    transform: rotate(-45deg) translate(-5px,-7px);
    width: 36px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}

@media screen and (min-width: 800px) and (max-width: 950px) {
    .gallery-item.gallery-item-selected {
        height: 300px;
        width: 300px;
    }
    .gallery-item.gallery-item-previous,
    .gallery-item.gallery-item-next {
        height: 180px;
        width: 180px;
    }
    .gallery-container {
        height: 300px;
    }
}

@media screen and (min-width: 701px) and (max-width: 799px) {
    .gallery-item.gallery-item-selected {
        height: 300px;
        width: 300px;
    }
    .gallery-item.gallery-item-previous,
    .gallery-item.gallery-item-next {
        height: 150px;
        width: 150px;
    }
    .gallery-container {
        height: 300px;
    }
}

@media screen and (min-width: 560px) and (max-width: 700px) {
    .gallery-item.gallery-item-selected {
        height: 300px;
        width: 300px;
    }
    .gallery-item.gallery-item-previous,
    .gallery-item.gallery-item-next {
        height: 120px;
        width: 120px;
    }
    .gallery-container {
        height: 300px;
    }
}

@media screen and (max-width: 558px) {
    .gallery {
        margin-top: 100px
    }
}

@media screen and (min-width: 300px) and (max-width: 559px) {
    .gallery-controls {
        margin-top: 130px;
    }
    .gallery-item.gallery-item-selected {
        width: 100%;
        height: auto;
    }
    .gallery-container {
        height: 250px;
    }
    .gallery-item.gallery-item-previous,
    .gallery-item.gallery-item-next {
        display: none;
    }
}

.btn-lanzamiento {
    background: #0F73B3;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    border-radius: 20px;
}

.modal-content,
.photo-product {
    border-radius: 15px;
}