
.header-content {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4  ;
    box-shadow: 0 1px 1px 0 #c9f0ff;
    background: #ffffff59;
    backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 8px rgb(0 0 0 / 20%);
}
.header-container{
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}
.header-container-logo{
    width: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-options-ul{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;    
}

.header-options-link:hover{
    transition: all 0.3s ease;
    background: #ecfafe;
    box-shadow: inset 0 -5px 0 0 #0466ab;
}

.header-options-link.active{
    transition: all 0.3s ease;
    background: #ecfafe;
    box-shadow: inset 0 -5px 0 0 #0466ab;
}
.header-options-link{
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 19px;
    color: var(--color-primary) !important;
    padding: 0px 10px;
    white-space: nowrap;
    display: inline-flex;
    height: 100%;
    align-items: center;
    min-width: 100px;
    text-align: center;
    justify-content: center;
}
.header-options{
    display: flex;
    justify-content: flex-end;
}
.confelav-logo{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.whatsapp-content:hover .whatsapp-content-icon{
    transform: scale(1.1);
}
.whatsapp-content:hover{
    transition: all .3s ease;
    text-decoration: none;
    background: #000;
    color: white;
    background: linear-gradient(90deg, rgb(2 102 171) 0%, rgb(2 102 171) 100%);
}
.whatsapp-content:after{
    content: '';
    position: relative;
    width: 100%;
}

.wvw {
    position: inherit;
}

.whatsapp-content{
    align-content: center;
    padding: 0px 20px;
    white-space: nowrap;
    display: inline-flex;
    height: 100%;
    align-items: center;
    transition: all .3s ease;
    background: linear-gradient(90deg, rgb(2 102 171) 0%, rgb(70 171 210) 100%);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    justify-content: space-between;
    right: -15px;
    position: relative;
    width: 800%;
}


.whatsapp-content-icon{
    width: 65px;
    height: 65px;
    vertical-align: top;
    transition: all 0.3s ease;
    margin-right: 5px;
    position: relative;
}
.whatsapp-content-text{
    font-family: var(--font-primary);
    font-size: 30px;
    line-height: 19px;
    color: white;
    letter-spacing: -1px;
}


/* submenu */
.header-options-ul li ul {
    display:none;
    position:absolute;
    min-width:140px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .1);
}

.header-options-ul li:hover > ul {
    display:block;
}

.header-options-ul li ul li {
    position:relative;
} 

.header-options-ul li ul li ul{
    right:-140px;
    top:0px;
}

.submenu-link{
    font-family: var(--font-primary);
    font-size: 18px;
    color: var(--color-primary) !important;
    display: block;
    background:#fff;
	line-height:40px;
    width:100%;
    padding: 5px 10px;
}

.submenu-link:hover{
    transition: all 0.3s ease;
    background: #ecfafe;
    box-shadow: inset 0 -5px 0 0 #0466ab;
}


@media screen and (max-width:1400px){
    .header{
        position: relative;
    }
    .whatsapp-content{
        padding-right: 150px;
    }
    .header-options-ul{
        display: none;
    }
} 

@media screen and (max-width:700px){
    
    .whatsapp-content-text{
        display: none;
    }

    .whatsapp-content {
        padding: 5px 5px;
        padding-right: 100px;
    }
        
} 
@media screen and (max-width:600px){
    .whatsapp-content {
        padding-right: 80px;
    }
}
@media screen and (max-width:500px){
    .header-container-logo{

        width: 200px
    }
    
}

@media screen and (max-width:350px){
    .whatsapp-content {
        padding-right: 60px;
    }
    .header-container-logo {
        width: 150px;
    }
} 