/*
 * Menu
 * @author mfyance
 */
[menu-responsive]{
    display: none;
}

menu-overlay,
[menu-button] {
    right: 10px;
    top: 10px;
    position: fixed;
    width: 65px;
    height: 65px;
    display: inline-block;
    border-radius: 50%;
}
[menu-button] {
    cursor: pointer;    
    z-index: 10;       
    border: none;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
    line-height: 0.6;
    text-align: center;
}
menu-overlay{    
    background:linear-gradient(45deg, #ffffffe6 0%, var(--color-secondary) 55%);
    transition-duration: 700ms;
    z-index: 4;
}

html[menu-active]{
    overflow: hidden;
}

[menu-nav]{
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3em 2em;
    top: 0;
    left: 0;
    width: 100%;
}


[menu-ul] {    
    position: relative;
    flex-direction: column;
    color: #fff;
    z-index: 8;
    justify-content: center;
    align-items: center;
    counter-reset: itemCounter;
    padding: 0;
    display: flex;
    z-index: -1;
}


[menu-active] menu-overlay {
    transform: scale(100, 100);
}


menu-close {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    border-radius: 1px;
    background: #293335;
    vertical-align: middle;
}
menu-close:before,
menu-close:after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: #293335;
    transition: all 200ms;
}
menu-close:before {
    top: -11px;
    left: 3px;
    width: 28px;
}
menu-close:after {
    top: 11px;
    left: 6px;
    width: 22px;
}
[menu-button]:focus {
    outline: none;
}
[menu-button]:hover menu-close:after, 
[menu-button]:hover menu-close:before {
    width: 34px;
    left: 0;
}


[menu-li]:hover [menu-a]{
    background: #ffffff87;
    color: var(--color-primary);
}
[menu-li]{
    width: 100%;
    display: inline-block;
    padding: 5px;
    opacity: 0;
    transition: all .4s ease-in;
    transform: scale(0);
    transform-origin: right center;
}
[menu-active] [menu-li]{
    opacity: 1;
    transform: scale(1);
}
[menu-a]{
    color: white;
    font-size: 30px;
    padding: 3px 10px;
    transition: all .3s ease;
    display: block;
    position: relative;
}
[menu-a]:after{
    content: counter(itemCounter,decimal-leading-zero);
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
    counter-increment: itemCounter;
    color: #fff;
    font-size: 15px;
}
[menu-li]:hover  [menu-a]:after{
    color: var(--color-secondary);
}
[menu-li]:hover  [menu-title]:before{
    transform: scale3d(1,1,1);
    background: var(--color-secondary);
}
[menu-title]:before{
    background: var(--color-secondary);
    transform: scale3d(0,1,1);
    transform-origin: 0% 50%;
    transition: transform 0.5s;
    z-index: 1;
}
[menu-title]:before,
[menu-title]:after{
    content: '';
    position: absolute;
    top: 21px;
    left: 40px;
    width: 50px;
    height: 4px;
    background: #fff;
}
[menu-title]{
    font-size: 30px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    white-space: pre;
}
[menu-active] [menu-a]{
    /* opacity: 1; */
}

[menu-active] menu-close {
    height: 0;
}
[menu-active] menu-close:after,
[menu-active] menu-close:before {
    top: 0px;
    left: 0;
    width: 34px;
}
[menu-active] menu-close:after {
    transform: rotate(-45deg);
}
[menu-active] menu-close:before {
    transform: rotate(45deg);
}
[menu-active] [menu-nav]{
    z-index: 9;
    visibility: visible;
}
[menu-active] [menu-ul] {
    z-index: 2;
}

@media screen and (max-width:1400px){
    [menu-responsive]{
        display: block;
    }
} 
@media screen and (max-width:800px){    
    [menu-nav]{
        flex-direction: column;
    }
}
@media screen and (max-width:350px){
    menu-overlay, [menu-button]{
        width: 50px;
        height: 50px;
    }
} 