
.modal-close{
    position: absolute !important;
    top: -10px !important;
    right: 10px !important;
    color: var(--color-primary) !important;
    font-size: 60px !important;
    z-index: 2 !important
}


.button-first {
    background: #ffc927;
    background-blend-mode: soft-light, normal;
    box-shadow: -8.90123px -8.90123px 26.7037px rgb(255 255 255 / 50%), 13.3518px 13.3518px 26.7037px rgb(174 174 192 / 40%);
    border-radius: 20px !important;
    display: inline-flex;
    width: auto;
    margin-top: 50px;
    letter-spacing: 1px;
    padding: 20px 40px;
    color: white;
    font: 20px var(--font-primary);
    text-decoration: none;
}


.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}


.modal-dialog{
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-dialog{
    max-width: 80% !important;
}
.modal-tendencias-img{
    max-width: 300px;
    width: 300px;
    height: 300px;
}
.modal-tendencias{
    display: flex;
}
.modal-tendencias-content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
        width: 100%;
}
.modal-tendencias-title{
    font-size: 25px;
    color: var(--color-primary);
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: var(--font-secondary)
}
.modal-tendencias-desc{
    font-size: 20px;
    line-height: 22px;
    color: #5d5d5d;
}
.modal-tendencias-button{
    display: inline-flex;
    width: auto;
    max-width: 560px;
    margin-top: 40px;
    align-items: center;
}
.modal-tendencias-or{
    margin: 10px auto;
    color: #8c8c8c;
    font-size: 20px;
}
.modal-tendencias-call{
    /* margin: 0 auto; */
    /* margin-top: 10px; */
    color: var(--color-primary);
    font-size: 20px;
    position: relative;
}
.modal-tendencias-call--is-icon{
    max-width: 30px;
    margin-right: 10px;
}

.modal-tendencias .button-first{
    margin-top: 0;
}

@media screen and (max-width:900px){
    
    .modal-tendencias{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }   
}

@media screen and (max-width:900px){
    .modal-open .modal{
        display: block;
        position: absolute;
    }
    .modal-open{
        overflow: auto;
        position: relative;
    }
    .modal-tendencias-title{
        margin-top: 10px;
    }
    .modal-tendencias-img{
        width: 100%;
        height: auto;
    }
    .modal-tendencias-content{
        padding-left: 0;
    }
    .modal-tendencias-button{
        flex-direction: column;
    }
    .modal-dialog{
        max-width: 95% !important;
    }
}