/*
 * Design Tokens
 * @author mfyance
 */

:root{
    --layout-max: 1700px;
    --color-black: #000;    
    --color-primary: #0266ab;  
    --color-primary-light: #e5f5ff;  
    --color-secondary: #46abd2;
    --color-terciary: #ff9300;
    --color-white: #ffffff;
    --color-green: #1fc0bf;
    --color-grey:#E4E4E4;
    --color-error:#ff0909;
    --color-success:#44ca8d;
    --color-info:#dbae5b;



    --font-primary: "Exo 2";
    --font-secondary: "Convergence";
    --font-terciary: "Balsamiq Sans";
    

    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;


}


