/*
 * Core Proyect
 * @author mfyance
 */

@charset "utf-8";
@import "../design-system/__design-system.css";
body {
    background-image: url(../../img/fondo/fondo-hilos.svg) !important;
    background-size: 1800px 2200px;
    background-position: center 289px;
    background-color: #f6fdff !important;
}

.menu-cellphone{
    max-width: 40px;
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;

}
main-text{
    position: absolute;
    z-index: 3;
    width: 700px;
    top: 0;
}

.modal-backdrop {
    background-color: rgb(0 0 0 / 74%) !important;
}


.minislider{                              
    display: flex;
    margin-top: 100px;
    justify-content: flex-end;
}
.minislider-squart{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #ffffff;
    background-color: #46abd2 !important;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #0466ab !important;
    margin-right: 37px;
    background-size: contain;
    background-position: center;
}

.site-header {
    padding: 20px 0;
}

/* .site-main {}

.site-footer {} */ 


.prendas-cotizar .button-first{
    margin-top: 70px !important;
}
.prendas-cotizar{
    margin-top: 20px;
    margin-left: 10px;
    max-width: 450px;
}

.prendas-nota{
    color: #0466ab;
    display: block;
    white-space: nowrap;
    width: 100%;
    white-space: normal;
}


.font-title {
    color: white;
    font: 54px var(--font-primary);
    line-height: 80px;
    margin-bottom: 0px;
    top: calc(100vh/3 - 390px);
}

.slider-arrow:hover {
    opacity: 1;
}

.slider-arrow {
    width: 60px;
    position: absolute;
    top: calc(50% - 25px);
    z-index: 4;
    cursor: pointer;
    transition: all .2s ease;
    opacity: 0.6;
}

.slider-arrow-right {
    right: 30px
}

.slider-arrow-left {
    left: 30px;
    transform: rotate(180deg);
}

.main-text {
    font-family: var(--font-primary);
    color: var(--color-primary);
    margin-top: 100px;
    font-size: 55px;
    text-align: left;
    flex-direction: column;
    letter-spacing: -2px;
}

.page-title {
    margin: 30px auto;
    text-align: center;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.page-title-font {
    font: 20px var(--font-secondary);
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin: 20px auto;
    color: #0266AB;
}

.font-subtitle {
    color: white;
    font: 40px var(--font-secondary);
    text-align: center;
    margin-bottom: 100px;
}

.main-content {
    padding: 55px 0px 0PX 0px;
    position: relative;
    padding-top: 0;
    margin-top: 0;
}


.ml11 {
  font-weight: 700;
  font-size: 55px;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}


.sala-items-colors{
    max-width: 220px;
    display: inline-table;
}

/* header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.header-logo {
    max-height: 60px;
    width: 241px;
    height: 54.14px;
}

.header-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.header-content ul li.email {
    background: linear-gradient(177.31deg, #43add4 -3.21%, #3ea7d1 16.75%, #2f98c8 42.2%, #167eba 70.51%, #0066ad 91.15%);
}

.header-content ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19px;
    left: 583px;
    top: 34px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #46ABD2;
}

.header-content ul li:first-child {
    margin-right: 0;
}


/*
button img {
    max-width: 40px;
    margin-right: 35px;
}
*/

button a {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* aside */

/* otros */

.header-content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.header-whatsapp {
    /* background: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-primary) 100%) ; */
    padding: 22px 0;
    /* padding-left: 44px; */
    /* padding-left: 19px; */
    padding: 20px;
    margin-top: -12px;
    margin-bottom: -12px;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-whatsapp-text {
    width: 131px;
    height: 24px;
    left: 85.84%;
    right: 5.15%;
    top: 0.91%;
    bottom: 98.41%;
    font-family: "var(--font-primary)";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #319AC9;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 10px 20px;
}

.color-primary {
    color: var(--color-primary);
}

.footer-copy {
    text-align: center;
    font-size: 15px;
}

.footer-info {
    padding-left: 30px;
}

.footer-canal {
    padding-left: 5px;
}

.item {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: inset -8.90123px -8.90123px 26.7037px rgb(255 255 255 / 79%), inset 13.3518px 13.3518px 26.7037px rgb(0 0 0 / 35%);
    transition: all .3s ease;
}


.owl-carousel-banner .owl-stage-outer {
    overflow: hidden !important;
}

.owl-carousel-banner {
    /* overflow: hidden !important; */
    height: 800px !important;
    width: 800px !important; 
    position: relative !important;
    z-index: 2 !important;
}

.main-slider-content{
    position: relative;
    height: 800px !important;
    width: 800px !important; 
}
.main-slider {
    position: absolute !important;
    top: -110px !important;
    background-image: url(../../img/fondo/fondo-circle.svg);
    background-size: 108%;
    background-position: center;
    min-height: 60vh;
    top: 0;
    right: 0;
}
.main-slider .owl-dot.active {
    transform: scale(1.1);
    opacity: 1;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
     -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
.main-slider .owl-dot{
    opacity: 0.8
}
.main-slider .owl-item:not(.active){
    filter: blur(10px);
    opacity: 0.2
}

.banner-content {
    min-height: 750px;
}


.owl-theme .owl-dots .owl-dot.active span {
    background: #46abd2 !important;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #0466ab !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #ffffff !important;
}

.main-slider .owl-dots {
    /* overflow: visible !important; */
    position: absolute;
    bottom: 40px;
    left: -50%;
    right: 0;
}

.btn-menu-ws {
    background-color: #0466ab;
    border-radius: 35px 0 0 35px;
    min-width: 300%;
    display: inline-flex;
}

.icon-whatsapp {
    width: 50px;
    height: 40px;
    vertical-align: top;
    transition: all 0.3s ease;
    filter: brightness(2);
    margin-right: 5px;
    position: relative;
    margin-left: 15px;
}

.icon-email {
    max-width: 45px;
}

.space-number {
    display: inline-block;
    padding: 0 3px
}

::-webkit-scrollbar {
    width: 25px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0);
    background-clip: content-box;
    background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
    transition: all 0.3s ease;
}

.font-section {
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 35px;
}

.font-banner-bold {
    font-family: var(--font-primary);
    font-weight: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

.font-banner-lighter {
    font-family: var(--font-primary);
    font-weight: lighter;
    font-size: 45px;
    color: #FFFFFF;
}

.font-mundo-textil {
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    display: flex;
}

.font-text {
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 25px;
    color: #0266AB;
}

.font-text-header {
    font-family: var(--font-primary);
    font-size: 18px;
    line-height: 19px;
    color: #0466ab;
    padding: 0px 17px;
    white-space: nowrap;
    display: inline-flex;
    height: 100%;
    align-items: center;
}

.font-text-header-2 {
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #0466ab;
    white-space: nowrap;
}

.font-text-header:hover:not(.font-text-header--is-ws) {
    transition: all 0.3s ease;
    background: #ecfafe;
    box-shadow: inset 0 -5px 0 0 #0466ab;
}

.font-text-header--is-ws {
    color: white !important;
    font-size: 26px;
}

.font-title-footer {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

.font-description-footer {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;
}

.animateOne .letter {
    display: inline-block;
    line-height: 1em;
}

.logo-white {
    filter: brightness(1000);
}

.linea-content {
    width: 30%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
    flex-direction: column;
    box-shadow: 0 10px 20px #ddd;
    border-radius: 27px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.linea-content-title {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    position: absolute;
    color: white;
    background: linear-gradient(15deg, rgb(2 102 171 / 83%) 35%, rgb(70 171 210 / 0%) 100%);
}

.linea-content-photo {
    width: 100%;
    height: 470px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.linea-content--is-img {
    width: 100%;
    max-width: 400px;
    box-shadow: 5px 5px 20px #ccc;
}

.lineas {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;
}

.banner-main {
    display: flex;
    align-content: center;
    min-height: calc(100vh - 114px);
    background-size: cover;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    /* top: calc(100vh/3 - 400px); */
}

.col-marca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.col-marca:last-child {
    margin-bottom: 0;
}

.col-marca-img {
    width: 100%;
    margin-right: 80px;
    max-width: 280px;
}

.col-marca-img:last-child {
    margin-right: 0;
}

.fondo-hilo {
    padding-bottom: 350px;
    background-image: url(../../img/fondo/fondo-hilos.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    left: 0;
    z-index: 3;
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.fondo-main {
    background-image: url(../../img/home/circulo.svg);
    background-size: 670px;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
}

.lavadora-check {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    max-width: 100%;
    max-height: 100%;
}

.p-r {
    position: relative;
}

.fondo-lavadora {
    background-image: url(../../img/banner/lavadora.jpg);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 199px;
    z-index: 1;
    right: 0;
}

.banner--is-detail {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 40%;
}

.banner--is-points {
    position: absolute;
    left: 0;
    z-index: 0;
}

.box-shadow {
    position: relative;
    display: inline-block;
    box-shadow: 9px 27px 35px #a9a9a9, 0 8px 31px #949494;
}

.box-shadow:before,
.box-shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}





#footer .footer-copyright {
    background: #1c2023;
}

#footer .footer-copyright nav {
    font-size: 0.9em;
}

#footer .footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .footer-copyright nav ul li {
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

#footer .footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

#footer .footer-copyright nav ul li:last-child {
    padding-right: 0;
}

#footer .footer-copyright p {
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

#footer .footer-copyright.footer-copyright-style-2 {
    background: #212529;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

#footer .footer-copyright.footer-copyright-border-grey {
    border-top: 1px solid #E5E5E5;
}

#footer .footer-copyright.footer-copyright-full-width-border-top {
    position: relative;
    border-top: 0;
}

#footer .footer-copyright.footer-copyright-full-width-border-top:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    transform: translate3d(-50%, 0, 0);
}

.text_center {
    text-align: center;
}

.font-size-35 {
    font-size: 35px;
}

.tipo-prenda {
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background: url("./../../img/home/group.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.conocimiento-textil {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-size: 30px;
    /*width: 450px;*/
    height: 500px;
    padding-bottom: 40px;
}

.costuteros-calificados {
    display: flex;
    place-content: flex-end;
    align-items: center;
}

.padding-top-20 {
    padding-top: 20px;
}

.experiencia-lavado {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 30px;
    /*width: 450px;*/
    height: 500px;
    padding-bottom: 85px;
}

.footer-telefono {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.correo {
    padding: 50px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.direccion {
    padding: 50px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.redessociales {
    padding: 50px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.flex-prendas {
    display: flex;
    background-color: E5E5E5;
    padding: 30px;
    justify-content: space-around;
}

.flex-hospital {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    text-align: center;
    margin: 30px;
}

.flex-hotel {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    text-align: center;
    margin: 30px;
}

.flex-industrial {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    text-align: center;
    margin: 30px;
}

.text-prendas {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    height: 70px;
    font-family: var(--font-primary);
    font-weight: normal;
    font-size: 18px;
    color: #0266AB;
}

.text-prendas-hospitales {
    width: 220px;
}

.text-prendas-hotel {
    width: 231px;
}

.text-prendas-industrial {
    width: 145px;
}

.text-prendas-oficinas {
    width: 230px;
}

.container-msg {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.border-img-prenda {
    margin: auto;
    margin-bottom: -40px;
    max-width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-prendas {
    margin-top: 0;
}

.button-conocimiento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 326px;
    height: 108px;
    left: 228px;
    top: 1471px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 75px;
    box-shadow: 0px 10px 25px rgb(43 43 43 / 14%);
    border: 2px solid var(--color-secondary);
    cursor: crosshair !important;
}

.button-costureros {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 296px;
    height: 108px;
    left: 550px;
    top: 1187px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 75px;
    box-shadow: 0px 10px 25px rgb(43 43 43 / 14%);
    border: 2px solid var(--color-secondary);
    cursor: crosshair !important;
}

.button-lavado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 296px;
    height: 108px;
    left: 830px;
    top: 1399px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 75px;
    box-shadow: 0px 10px 25px rgb(43 43 43 / 14%);
    border: 2px solid var(--color-secondary);
    cursor: crosshair !important;
}

.img-conocimientos {
    width: 69px;
    height: 69px;
    left: 259px !important;
    top: 1492px !important;
}

.img-costureros {
    width: 78px;
    height: 73px;
    left: 582px;
    top: 1206px;
}

.img-lavado {
    width: 62px;
    height: 74px;
    left: 868px;
    top: 1420px;
}

.text-conocimiento {
    width: 176px;
    height: 60px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0266AB;
}

.text-costureros {
    width: 144px;
    height: 60px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0266AB;
}

.text-oficinas {
    width: 144px;
    height: 60px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0266AB;
}

.text-lavado {
    width: 155px;
    height: 60px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0266AB;
}

.text-prendas-costuras {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 30px !important;
    line-height: 36px !important;
    display: flex;
    color: #FFFFFF;
}


/*
.card {
    display: flex;
    background-color: E5E5E5;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
*/

.carta {
    display: flex;
    justify-content: center;
    width: 323px;
    height: 344px;
    left: 160px;
    top: 2543px;
    opacity: 0.6;
    flex-direction: column;
    background: #EFEFEF;
    margin-top: 80px;
}

.logotipo {
    widows: 241px;
    height: 51.14px;
}

.lista-header {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.lista-header li {
    display: inline-block;
    margin: 0 1.5rem;
}

.header-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header {
    top: 0;
    left: 0px;
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    padding: 17px 85px;
    padding-bottom: 14.86px;
    align-items: center;
}

.img-sodexo {
    margin: auto;
    width: 204px;
    height: 88px;
}

.img-ceelimp {
    margin: auto;
    width: 146px;
    height: 129px;
}

.img-sanna {
    margin: auto;
    width: 120.87px;
    height: 102.01px;
}

.img-sanfelipe {
    margin: auto;
    width: 254px;
    height: 120px;
}

.img-ricardo-palma {
    margin: auto;
    width: 196px;
    height: 103px;
}

.img-oncosalud {
    margin: auto;
    width: 220px;
    height: 71.23px;
}

.img-nestle {
    margin: auto;
    width: 133px;
    height: 129px;
}

.img-stella-maris {
    margin: auto;
    width: 181px;
    height: 169px;
}

.img-lezza {
    margin: auto;
    width: 222px;
    height: 115px;
}

.img-internacional {
    margin: auto;
    width: 252px;
    height: 110px;
}

.img-centenario {
    margin: auto;
    width: 305px;
    height: 91px;
}

.img-auna {
    margin: auto;
    width: 120px;
    height: 117px;
}


/*CCS FOOTER */

.container-footer {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 200px;
}

.footer-columns--is-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer-columns{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center
}
.footer-description {
    font-family: var(--font-primary);
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0px 0px;
    padding-left: 0 !important;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.footer_canales {
    color: #ffffff;
    padding: 40px 0
}
.footer-title{
    position: relative;
    margin-bottom: 5px
}
.footer-subtitle{
    margin-top: 5px
}



.pd-left-20 {
    padding-left: 20px;
}

.footer-canales {
    display: flex;
    justify-content: center;
    width: 100%;
}

a:hover.footer-description {
    color: #ffc927;
    transition: all 0.3s ease;
}

.footer-canal {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px !important;
}

.border-none {
    border: none;
}

.border-l {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
}

.border-right {
    border-right: 1px solid #DCF1FF;
}

.font-footer {
    padding-left: 15px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    /* identical to box height */
    color: #FFFFFF;
}

.section-footer {
    background: linear-gradient(180deg, #0F73B3 -77.78%, #47ACD3 202.75%, rgba(255, 255, 255, 0) 202.78%);
    filter: drop-shadow(0px -21px 40px rgba(1, 1, 1, 0.5));
}

.redes-footer:hover{
    transform: scale(1.1);
}
.redes-footer {
    transition: all .3s ease;
    width: 54px;
    height: 54px;
    margin: 0 10px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 11px 34px rgba(46, 147, 197, 0.5);
}

.title-footer {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

.icon-redes {
    display: flex;
    margin-top: 25px;
}

.img-redes {
    display: flex;
    margin-top: 25px;
}

.footer-logo {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 26px;
    padding-bottom: 22.86px;
    display: flex;
    text-align: center;
    align-content: center;
    position: relative;
    justify-content: center;
}


.copyright{
    font-size: 20px;
    color: white;
    position: absolute;
    right: 40px;
    top: 50px;
    letter-spacing: 1px;
}

.footer-title-map{
    margin-bottom: 30px;
}
.footer-logo img {
    width: 100%;
    max-width: 500px;
}


.footer-contactos {
    padding: 30px 60px;
}

.icon-footer {
    vertical-align: sub !important;
    width: 23.82px;
    height: 20.81px;
}


/*estilo card */

.container-card {
    justify-content: center;
    padding-top: 56px;
}

.section-card {
    padding: 0px 0px;
    display: flex;
    justify-content: center;
}

.card {
    width: 323px;
    background: #FFFFFF;
    box-shadow: 0px 17px 27px rgba(224, 237, 242, 0.27);
    border-radius: 15px !important;
    border: none !important;
}

.img-card {
    width: 323px;
    height: 186px;
    max-width: 100%;
    background: #EFEFEF;
}

.text {
    padding: 0 20px 20px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #0266AB;
}

.text>button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

h3 {
    width: 199px;
    height: 24px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    padding-top: 10px;
    color: #0266AB;
}

.text-card {
    padding: 10px 20px 10px 20px;
}

.text-card span {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #0266AB;
}

.text-card p {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 17px;
    padding-top: 16px;
    padding-bottom: 9px;
    color: #555;
}

.porque-elegirnos {
    display: flex;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 50px;
}


/*aqui empieza mi header*/

.menu {
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
    width: 400px;
    padding: 0 80px;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
    justify-content: space-around;
    align-items: center;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
    display: flex;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: #46ABD2;
}

.btn_menu {
    margin-right: 30px;
    font-size: 35px;
    color: #319AC9;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 85px;
}

.blue-stripe {
    position: absolute;
    top: -50%;
    left: 0;
    width: 100vw;
    z-index: 0;
}

.owl-nav span {
    font-size: 50px;
    color: #298EC2;
    display: none;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
}

.owl-next {
    right: 0;
}

.owl-prev {
    left: 0;
}

.owl-carousel .owl-item img:not(.img-card) {
    width: auto;
    display: inline;
}

.section-card .card .img-card {
    border-radius: 15px 15px 0 0;
}

.sub-blue {
    width: 40px;
    height: 5px;
    background: #A7DEFA;
    border-radius: 5px;
    margin: auto;
}

ul li a:hover,
ul li a:hover {
    text-decoration: none;
    transition: all 0.3s ease;
}

.info-wsp a:hover {
    font-weight: 500;
    transition: all 0.3s ease;
    border-bottom: none;
}


.referencias {
    margin-top: 100px;
    margin-bottom: 50px;
}

.referencias-tabs {
    display: flex;
    justify-content: space-between;
    width: auto;
    text-align: center;
}

.referencias-tabs-button:hover {
    text-decoration: none;
    background: var(--color-primary-light);
}

.referencias-tabs-button {
    width: 25%;
    padding: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--color-primary);
    background: linear-gradient(315deg, rgb(255 255 255 / 60%) 0%, rgba(255, 255, 255, 0) 100%), #f3faff;
    background-blend-mode: soft-light, normal;
    box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
    border-radius: 1.5em;
    transition: all .3s ease;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.referencias-tabs-img {
    margin-bottom: 20px;
    height: 110px;
}


/* responsive */





@media only screen and (max-width: 1400px) {
    .banner-content{
        min-height: 500px
    }
    .main-text{
        margin-top: 0;
    }
    .main-text,
    .ml11{
        font-size: 40px;
    }
    .main-slider-content,
    .owl-carousel-banner,
    .item {
        height: 600px !important;
        width: 600px !important;
    }
     .main-slider .owl-dots {
        left: -80% ;
    }

}
@media only screen and (max-width: 1250px) {
    .footer-logo{
        flex-direction: column;
    }
    .copyright{
        position: relative;
        top: inherit;
        right: inherit;
        margin-top: 50px;
    }
    .text-prendas {
        font-size: 18px;
    }
    .text-prendas-hospitales {
        width: 240px;
    }
    .owl-next {
        right: -28px;
    }
    .owl-prev {
        left: -28px;
    }
}
@media only screen and (max-width: 1220px) {
    .container {
        width: 100%;
        height: auto;
        padding: 0 10px;
    }
}





@media only screen and (max-width: 1200px) {
   
}


@media only screen and (max-width: 1080px) {
    .main-slider .owl-dots {
        left: -60% ;
    }
    .text-prendas {
        font-size: 18px;
    }
    .text-prendas-hospitales {
        width: 220px;
    }
}





@media screen and (max-width: 1000px) {
    .main-slider-content,
    .owl-carousel-banner,
    .item {
        top: 0 !important;
        height: 500px !important;
        width: 500px !important;
    }
    .main-slider .owl-dots {
        display: flex;
        left: 0;
        right: 0;
        justify-content: space-around;
        bottom: -70px;
    }

    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #46ABD2;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background: none;
        transition: all 0.3s ease;
    }
    .menu_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #319AC9;
        transition: all 0.3s ease;
    }
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
    .blue-stripe {
        display: none;
    }
    .porque-elegirnos {
        margin-top: 30px;
        padding-top: 30px;
    }
    section.porque {
        background: rgba(220, 241, 255, 0.34);
        margin: 0 -25px;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}


@media only screen and (max-width: 991px) {
    .banner-content{
        min-height: auto;
    }
    .footer-logo img {
        width: 240px;
    }
    .footer-canal {
        border-right: none;
    }
    .border-l {
        border-left: none;
    }
    .main-slider {
        position: relative !important;
        margin: 0 auto;
        min-height: inherit;
        top: 0 !important;
        margin-bottom: 100px;
    }
    main-text{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
}



@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16px;
    }
}


@media only screen and (max-width: 900px) {
    .lineas {
        flex-direction: column;
    }
    .linea-content {
        width: 100%
    }
    .col-marca-img {
        max-width: 200px;
        margin-right: 00;
        padding: 20px;
        width: 100%;
    }
    .col-marca {
        flex-direction: column;
    }
    .main-content {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .header-content {
        padding: 0;
    }
    .header-content-info {
        position: relative;
        top: inherit;
        width: 100%;
        background: #fff;
        transform: scale(0.6);
        justify-content: flex-end;
        align-content: flex-end;
        transform-origin: right;
    }
    .header-logo {
        max-width: 150px;
    }
   
    .navbar-toggler {
        padding: .5rem .75rem !important;
        font-size: 1.3rem !important;
    }
    .header-wahtsapp {
        min-width: inherit;
        padding-right: 0;
    }
    .font-title {
        top: inherit;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .header-whatsapp-text {
        display: none;
    }
    .header-whatsapp {
        min-width: auto
    }


    main-text {
        width: 95%;
        top: 20px;
    }
  

    .text-prendas-costuras {
        font-size: 23px !important;
    }

    .footer-logo {
        display: block;
        text-align: center;
    }

    .button-conocimiento, .button-costureros, .button-lavado {
        width: auto;
    }
}

@media only screen and (max-width: 800px) {
    .row.prendas .border-right {
        border: none !important;
    }
    .text-prendas-hospitales,
    .text-prendas-hotel,
    .text-prendas-industrial,
    .text-prendas-oficinas {
        font-size: 17px;
        margin-top: 0px;
        max-width: 100%;
    }
    .fondo-main {
        background: none;
    }
    .fondo-main button {
        margin: auto;
    }
    .costuteros-calificados,
    .conocimiento-textil,
    .experiencia-lavado {
        display: block;
        height: auto;
        padding-bottom: 0;
    }
    .button-conocimiento,
    .button-costureros,
    .button-lavado {
        height: auto !important;
        padding: 0;
    }
    .text-costureros,
    .text-conocimiento,
    .text-lavado {
        font-size: 17px;
    }
    .img-costureros,
    .img-conocimientos,
    .img-lavado {
        width: 50px;
    }
}



@media only screen and (max-width: 768px) {
    .footer-logo img {
        width: 200px;
    }
    .referencias-tabs {
        width: 100% !important;
    }
    
    .fondo-hilo {
        padding-bottom: 100px;
    }
    .social-media {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    footer {
        padding: 0px
    }
    .footer-resource {
        position: relative;
        top: inherit;
        left: inherit;
        width: 100%;
        transform: inherit;
        border-radius: 0;
        padding: 12px;
        white-space: normal;
        text-align: center;
        font-size: 20px;
        margin: 0;
    }
    .footer-info {
        padding: 20px;
        flex-direction: column;
        margin: 0
    }
    .footer-copy {
        padding-bottom: 40px;
    }
    body {
        background-size: 150%;
        background-position-y: 100%;
        background-position-x: 42.5%;
    }
    header {
        padding: 0;
    }
    header .container>img {
        width: 50%;
    }
    header ul li {
        width: 100%;
        height: 45px;
        padding: 8px;
    }
    header ul li:first-child {
        margin-right: 15px;
    }
    header ul li img {
        max-width: 25px;
    }
    aside {
        width: 100%;
    }
    h1,
    h2 {
        max-width: 100%;
        text-align: center;
    }
    h1 {
        font-size: 35px;
        line-height: 47px;
        margin-top: 20px;
        margin-bottom: 35px;
    }
    h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    button {
        display: block;
        margin: auto;
        padding: 20px 30px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 50px;
    }
}



@media only screen and (max-width: 750px) {
    .button-costureros,
    .button-lavado,
    .button-conocimiento{
        width: 100%;
        padding: 20px;
    }
}
@media only screen and (max-width: 575px) {
    .footer-canales{
        padding: 0;
        margin: 0 auto !important;
    }
    .footer-canal{
        padding: 10px  0 !important
    }
    .footer-title-map{
        margin-top: 70px;
    }
    .main-slider-content,
    .owl-carousel-banner,
    .item {
        height: calc(100vw - 30px) !important;
        width: calc(100vw - 30px) !important;
    }
    .referencias-tabs {
        width: auto !important;
    }
}