.tabs {
  width: 100%;
  margin: auto;
}
.tabs > ul {
  text-align: center;
  margin: 30px 0 0;
  padding: 0;
  position: relative;
  z-index: 1;
  list-style: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 767px) {
  .tabs > ul {
    margin: 0;
  }
  .tabs > ul .button {
    padding: 10px 10px;
    font-size: 0.7em;
    height: 40px;
  }
}
.tabs > ul > li {
  display: inline-block;
  padding: 0.6em 0;
  position: relative;
  margin: 0 0 0 5px;
}
.tabs > ul > li.ui-tabs-active .button, .tabs > ul > li.ui-state-hover .button {
  background: #045389;
  color: white;
}
.tabs:after {
  content: none !important;
}

li.active a .button, li.hover a .button {
  background: #045389;
  color: white;
}

.contents {
  font-family: Gotham !important;
  font-style: normal;
  font-weight: lighter;
  padding: 50px 10px;
  margin: auto;
}
.contents a {
  list-style: none;
}

.contents2 {
  font-family: Gotham !important;
  font-style: normal;
  font-weight: lighter;
  padding: 50px 10px;
  min-height: 200px;
  width: 80%;
  margin: auto;
  display: block;
}
.contents2 a {
  list-style: none;
  text-decoration: none !important;
}

.subtitle {
  font-family: Gotham !important;
  font-style: normal;
  margin-top: 15px;
  color: #0063AE;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.tab-pane {
  position: relative;
}

.sala-content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.sala {
  width: 65%;
  margin: auto;
  display: block;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .sala {
    position: relative;
  }
}

.tab-content {
  margin-top: 40px;
  min-height: 800px;
}
@media screen and (max-width: 1250px) {
  .tab-content {
    min-height: 800px;
  }
}

.active .my-tabs-button {
  background: var(--color-primary);
  color: white;
}

.my-tabs-button {
  font-family: var(--font-primary);
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(180deg, #D7ECF9 -77.78%, #C8E6F2 189.63%);
  border: none;
  color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 75px;
  cursor: pointer;
  position: relative;
  line-height: 2;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
}

.sala-content-items {
  display: inline-flex;
  flex-direction: column;
  font-family: var(--font-primary);
  margin-bottom: 10px;
}

.sala-items-header {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.sala-items-header:hover {
  background: var(--color-primary-light);
}

.sala-items-header-img {
  width: 70px;
}

.sala-items-header-title {
  margin-left: 20px;
  font-size: 20px;
  color: var(--color-primary);
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 1px;
}

.sala-content-items.active .sala-items-heade-arrow {
  transform: rotate(180deg);
}

.sala-items-heade-arrow {
  width: 20px;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.sala-items-body {
  padding-top: 5px;
  list-style: none;
  background: #ffffff73;
  margin-bottom: 0;
}
.sala-items-body > li:after {
  content: "";
  width: 7px;
  height: 7px;
  background: var(--color-secondary);
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 50%;
}
.sala-items-body > li:last-child {
  align-items: normal;
}
.sala-items-body > li {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  color: #555;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: normal;
  align-content: center;
}
.sala-items-body > li i {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 -2px 0 1px #cecece61 inset, 0 2px 5px rgba(68, 68, 68, 0.49), 0 12px rgba(255, 255, 255, 0.25) inset;
  display: inline-block;
  cursor: grab;
}
.sala-items-body > li i.white {
  background: white;
}
.sala-items-body > li i.skyblue {
  background: skyblue;
}
.sala-items-body > li i.blue {
  background: #bbf1fa;
}
.sala-items-body > li i.blue2 {
  background: #487e95;
}
.sala-items-body > li i.blue3 {
  background: #23689b;
}
.sala-items-body > li i.blue4 {
  background: #1a508b;
}
.sala-items-body > li i.blue5 {
  background: #0d335d;
}
.sala-items-body > li i.green {
  background: green;
}
.sala-items-body > li i.green2 {
  background: #16c79a;
}
.sala-items-body > li i.green3 {
  background: #007965;
}
.sala-items-body > li i.green4 {
  background: #295939;
}
.sala-items-body > li i.green5 {
  background: #184d47;
}
.sala-items-body > li i.green6 {
  background: #799351;
}
.sala-items-body > li i.brown {
  background: #804000;
}
.sala-items-body > li i.gray {
  background: #9c9c9c;
}
.sala-items-body > li i.navy-blue {
  background: #00304E;
}
.sala-items-body > li i.black {
  background: black;
}
.sala-items-body > li i.orange {
  background: orange;
}
.sala-items-body > li i.crema {
  background: #ffffbf;
}
.sala-items-body span {
  color: var(--color-primary);
  margin-left: 10px;
  max-width: 300px;
}

.my-tabs {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .my-tabs li {
    margin-bottom: 10px;
    text-align: center;
  }
}

.my-tabs li {
  margin-right: 5px;
}

.content-call {
  margin: 30px auto;
  text-align: center;
}

.info-wsp {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section-tabs {
  margin-top: 100px;
}
@media only screen and (max-width: 1400px) {
  .section-tabs {
    margin-top: 0px;
  }
}

.section-tabs .contenT,
.section-details .contenT {
  font-family: Gotham !important;
  font-style: normal;
  font-weight: lighter;
  text-align: left;
  padding-bottom: 60px;
  margin-left: 30px;
  width: 100%;
  margin: auto;
}
.section-tabs .contenT .ml-35,
.section-details .contenT .ml-35 {
  margin-left: 35px !important;
}
@media only screen and (max-width: 767px) {
  .section-tabs .contenT,
.section-details .contenT {
    margin-left: 0;
    width: 100%;
  }
}
.section-tabs .contenT .banner,
.section-details .contenT .banner {
  width: 80%;
  margin: auto;
  display: block;
  border-radius: 15px;
  background-color: #e6e6e6;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.section-tabs .contenT .content-Details,
.section-details .contenT .content-Details {
  width: 100%;
  margin: auto;
  display: block;
}
@media only screen and (max-width: 767px) {
  .section-tabs .contenT .content-Details,
.section-details .contenT .content-Details {
    width: 100%;
  }
}
.section-tabs .contenT .content-Details .tags,
.section-details .contenT .content-Details .tags {
  background: #46abd2;
  color: #ffffff;
  font-family: Gotham !important;
  display: inline-flex;
  text-decoration: none;
  border: none;
  padding: 10px 12px;
  border-radius: 75px;
  cursor: pointer;
  position: relative;
  height: 35px;
  line-height: 1.2;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
.section-tabs .contenT .content-Details .tags img,
.section-details .contenT .content-Details .tags img {
  margin-right: 5px;
}

.content-Details {
  width: 100%;
  margin: auto;
  display: block;
}

.sectionS a {
  list-style: none;
  text-decoration: none !important;
}
.sectionS .circle-slide {
  margin-right: 20px;
  margin-top: -20%;
}
@media only screen and (max-width: 767px) {
  .sectionS .circle-slide {
    margin-right: 0;
  }
}
.sectionS .imgSlide {
  position: absolute;
  width: 100%;
  height: 120%;
  left: -20%;
  z-index: 2;
  margin-top: 0;
  top: -35%;
  transform: rotate(-368deg);
}
@media only screen and (max-width: 767px) {
  .sectionS .imgSlide {
    display: none;
  }
}
.sectionS .text-slid {
  font-family: Gotham-bold !important;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  color: #787878;
  margin-left: 20px;
  margin-top: 15%;
  font-size: 50px;
  text-align: left;
  position: absolute;
  z-index: 5;
  width: 700px;
}
@media only screen and (max-width: 767px) {
  .sectionS .text-slid {
    margin-left: 50px;
    font-size: 35px;
    width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .sectionS .text-slid {
    font-size: 35px;
    z-index: 1;
  }
}
.sectionS .azul {
  color: #46abd2;
}
.sectionS .layer-btn {
  background: #ffc927;
  background-blend-mode: soft-light, normal;
  box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
  border-radius: 20px !important;
  display: inline-flex;
  width: auto;
  margin-top: 50px;
  letter-spacing: 1px;
  padding: 30px 50px;
  color: white;
  font-size: 20px;
}
.sectionS .layer-btn span {
  font-family: Gotham !important;
  font-style: normal;
  font-size: 16px;
  color: #46ABD2;
}
.sectionS .layer-btn img {
  width: 25px;
  filter: brightness(2.5);
  margin-right: 10px;
}

.card:hover {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1199px) {
  .font-mundo-textil {
    margin-left: 25px;
    text-align: left;
  }
}

.sub-blueT {
  width: 60px;
  height: 5px;
  background: #a7defa;
  border-radius: 5px;
}
@media only screen and (max-width: 767px) {
  .sub-blueT {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1199px) {
  .sub-blueT {
    margin-left: 25px;
  }
}

.tags {
  background: #46abd2;
  color: #ffffff;
  font-size: 16px !important;
  padding: 12px;
}
.tags img {
  margin-right: 5px;
}

.fondo-hilo {
  padding-bottom: 20%;
}

.navbar {
  z-index: 10;
  padding: 0 !important;
  box-shadow: 0 1px 1px 0 #c9f0ff;
  background: white;
  position: fixed;
  width: 100%;
}
@media only screen and (max-width: 1042px) {
  .navbar {
    position: relative;
  }
}

.navbar-content {
  width: 100%;
  padding: 0;
}

.my-lg-2N {
  height: 80px;
}
@media (min-width: 991px) and (max-width: 1042px) {
  .my-lg-2N {
    width: 106%;
    margin-left: -25px;
  }
}

.middleN {
  margin-top: 18px;
}
@media only screen and (max-width: 991px) {
  .middleN {
    margin-top: 0px;
    height: 80px;
    background: antiquewhite;
  }
}

.ml-10 {
  margin-left: 10px;
}
.ml-10 a {
  list-style: none;
  text-decoration: none;
}
.ml-10 a:hover {
  background: #045389;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.owl-carousel-news .owl-item {
  height: 470px;
}

.grid_sorting_button.active .tags {
  color: #FFFFFF;
  background: #045389;
}

@media only screen and (max-width: 991px) {
  .prendas {
    margin-top: -20px;
    margin-left: 0;
    margin-right: 0;
  }
}
.prendas a {
  list-style: none;
  text-decoration: none !important;
}
.prendas .card-prendas {
  height: 100%;
}
.prendas .card-prendas:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  background: #f1fbff;
  background-blend-mode: soft-light, normal;
  box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
  border-radius: 20px;
  border: none;
}
.prendas .card-prendas:hover .btn-prendas {
  display: block;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 991px) {
  .disable-aos-mobile [data-aos],
.disable-aos-mobile[data-aos] {
    opacity: 1 !important;
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}
.w-200 {
  min-width: 200px;
}

.img-title {
  min-width: 100px;
  width: 100%;
  max-width: 80px;
}
@media (max-width: 850px) {
  .img-title {
    margin: 0 auto;
    display: block;
    max-width: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  .justify-content-end {
    margin-top: 75px;
  }
}

section .inner {
  display: block;
  top: 100px;
}
@media screen and (max-width: 1400px) {
  section .inner {
    top: 0;
  }
}

.disable-desk {
  display: none;
}
@media only screen and (max-width: 991px) {
  .disable-desk {
    display: block;
  }
}

.disable-mobile {
  display: block;
}
@media only screen and (max-width: 991px) {
  .disable-mobile {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .prendas .card-prendas:hover {
    transform: scale(1) !important;
  }
}
.accordion-item {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 5px;
}
@media only screen and (max-width: 767px) {
  .accordion-item {
    margin-top: 0;
  }
}

.accordion-header {
  transition: ease-in-out 100ms;
  color: #0266AB;
  font-size: 1.8em;
  font-family: Gotham !important;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.accordion-header img {
  width: 80px !important;
}

.accordion-text {
  width: 80%;
  display: none;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 85px;
}
@media only screen and (max-width: 767px) {
  .accordion-text {
    margin-left: 30px;
  }
}
.accordion-text p {
  font-family: Gotham !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: lighter;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #0063AE;
}

.fa {
  transition: ease-in-out 300ms;
}

.rotate-fa {
  transform: rotate(180deg);
}

.accordion-header .fa {
  margin-right: 35px;
  line-height: 35px;
  color: #F3A319;
}

.accordion-gold img {
  width: 90px;
}

.accordion-no-bar {
  border-bottom: 0;
  overflow: hidden;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 5.5rem;
  text-align: center;
  pointer-events: none;
  left: 85%;
  top: 34px;
}
@media only screen and (max-width: 767px) {
  .has-search .form-control-feedback {
    top: 28px;
  }
}

input[type=text] {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 15px 25px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  background: #ffffff;
  border: 1px solid #DCF1FF;
  color: #777;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 24px rgba(224, 237, 242, 0.25);
  right: auto;
  margin-top: 20px;
}

input[type=text]:focus {
  border: 1px solid #a9c9df;
  transition: all 0.3s ease;
}

::placeholder {
  font-family: Gotham !important;
  font-style: normal;
  color: #46ABD2 !important;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.button-first {
  background: #ffc927;
  background-blend-mode: soft-light, normal;
  box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
  border-radius: 20px !important;
  display: inline-flex;
  width: auto;
  margin-top: 50px;
  letter-spacing: 1px;
  padding: 20px 40px;
  color: white;
  font: 20px var(--font-primary);
  text-decoration: none;
}
.button-first:hover {
  background: var(--color-secondary);
  color: white;
  text-decoration: none;
}

.button-icon {
  margin-right: 10px;
  filter: brightness(5);
  width: 35px;
}

@media only screen and (max-width: 575px) {
  .button-conocimiento,
.button-costureros,
.button-lavado {
    width: 100%;
  }
}
.button-conocimiento .text-conocimiento,
.button-costureros .text-conocimiento,
.button-lavado .text-conocimiento {
  height: auto;
}
.button-conocimiento .text-costureros,
.button-conocimiento .text-lavado,
.button-costureros .text-costureros,
.button-costureros .text-lavado,
.button-lavado .text-costureros,
.button-lavado .text-lavado {
  height: auto;
  line-height: 1.2;
}

@media only screen and (max-width: 575px) {
  .fondo-main {
    width: auto;
    max-width: 90%;
    margin: 0 auto;
  }
}

.btn-prendas {
  height: 36px;
  width: 155px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px 0, 0, 0, 0.25;
  background: #0266ab;
  display: none;
  margin: 0 auto;
  margin-bottom: 0 !important;
}
.btn-prendas .text-btn-prendas {
  font-family: Gotham !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.btn-prendas img {
  height: 10px;
  width: 16px;
  left: 304px;
  top: 1829px;
  border-radius: 0px;
}

.owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  margin-top: 0px;
}

.owl-prev, .owl-next {
  position: relative !important;
  top: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-prev {
  border: 0;
  cursor: pointer;
  margin-right: -65px;
  text-transform: capitalize;
  background: #c3eeff !important;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: -80px !important;
}
.owl-prev:hover::before {
  border-color: var(--color-primary);
  opacity: 1;
}
.owl-prev::before {
  border: solid var(--color-secondary);
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  height: 36px;
  padding: 2px;
  transform: rotate(135deg);
  width: 36px;
  margin-left: 15px !important;
}
@media (min-width: 992px) and (max-width: 1250px) {
  .owl-prev::before {
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .owl-prev::before {
    margin-left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .owl-prev::before {
    margin-left: 5px;
  }
}

.owl-next {
  border: 0;
  cursor: pointer;
  margin-right: -65px;
  text-transform: capitalize;
  background: #c3eeff !important;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 35px !important;
}
.owl-next:hover::before {
  border-color: var(--color-primary);
  opacity: 1;
}
.owl-next::before {
  border: solid var(--color-secondary);
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  height: 36px;
  padding: 2px;
  transform: rotate(-45deg);
  width: 36px;
  margin-right: 15px !important;
}
@media (min-width: 992px) and (max-width: 1250px) {
  .owl-next::before {
    margin-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .owl-next::before {
    margin-right: 0;
  }
}
@media only screen and (max-width: 575px) {
  .owl-next::before {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 991px) {
  .menu-open {
    width: auto;
    background-color: #fff;
    box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
    height: calc(420px - 20px);
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 99;
  }
}
@media only screen and (max-width: 767px) {
  .menu-open {
    width: auto;
    background-color: #fff;
    box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
    height: calc(280px - 20px);
    position: absolute;
    top: 0;
    right: 40px;
  }
}

.cta {
  position: relative;
  padding: 19px 22px;
  transition: all 0.2s ease;
  text-align: center;
  margin: 0 auto;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #ffc927;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin-left: 50%;
  transform: translateX(-50%);
}

.cta span {
  position: relative;
  line-height: 18px;
  font-family: Gotham !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 350;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  vertical-align: middle;
}

.card-prendas:hover .cta:before {
  width: 155px;
  border-radius: 10px;
  background: #0266ab;
  content: "";
  position: absolute;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  box-shadow: 0px 4px 4px 0px 0, 0, 0, 0.25;
  transition: all 0.3s ease;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ctaMB {
  width: 155px;
  border-radius: 10px;
  background: #0266ab;
  content: "";
  position: absolute;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  box-shadow: 0px 4px 4px 0px 0, 0, 0, 0.25;
  transition: all 0.3s ease;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 12px 23px;
}
@media only screen and (max-width: 360px) {
  .ctaMB {
        width: 90%;
    text-align: center;
  }
}
@media only screen and (max-width: 331px) {
  .ctaMB {
    bottom: 35px;
  }
}
.ctaMB span {
  position: relative;
  line-height: 18px;
  font-family: Gotham !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 350;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  vertical-align: middle;
}
@media only screen and (max-width: 331px) {
  .ctaMB span {
    font-size: 11px;
  }
}
@media only screen and (max-width: 298px) {
  .ctaMB span {
    font-size: 9px;
  }
}
@media only screen and (max-width: 331px) {
  .ctaMB span img {
    width: 12px;
  }
}

.ctaMB .ver {
  left: 5px;
  top: -8px;
}
.ctaMB .ver img {
  height: 10px;
  width: 16px;
  left: 304px;
  top: 1829px;
  border-radius: 0px;
}

.cta .ver {
  display: none;
  left: 5px;
  top: -8px;
}
.cta .ver img {
  height: 10px;
  width: 16px;
  left: 304px;
  top: 1829px;
  border-radius: 0px;
}

.cta .mas {
  left: 0;
  top: -8px;
}
@media only screen and (max-width: 1400px) {
  .cta .mas {
    top: -10px;
  }
}

.card-prendas:hover .ver {
  display: block;
  transition: all 0.3s ease;
}

.card-prendas:hover .mas {
  display: none;
  transition: all 0.3s ease;
}

.cta:active {
  transform: scale(0.96);
}

@media only screen and (max-width: 991px) {
  .btn-menu-ws {
    position: fixed;
    width: 0;
    height: 80px;
    min-width: 80px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .btn-menu-ws {
    width: 0;
  }
}
@media only screen and (max-width: 991px) {
  .btn-menu-ws .icon-whatsapp {
    margin-left: 30px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .btn-menu-ws .icon-whatsapp {
    margin-left: 20px;
  }
}

#slide-window {
  position: absolute;
  width: 770px;
  height: 770px;
  border-radius: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-top: -20%;
}
@media only screen and (max-width: 767px) {
  #slide-window {
    border-radius: 0;
    margin-right: 0;
    width: 100% !important;
    height: 600px !important;
  }
}
@media only screen and (max-width: 1199px) {
  #slide-window {
    margin-right: 15px;
    width: 380px;
    height: 380px;
  }
}

#slides {
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.66s ease;
  -webkit-transition: all 0.66s ease;
}
@media only screen and (max-width: 767px) {
  #slides {
    width: 100%;
    left: 0;
    margin-right: 0;
  }
}

.slide {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0px, 0px, 0px);
  visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.alive {
  visibility: visible;
}

.nav {
  position: absolute;
  z-index: 9;
  top: 50%;
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
  transition: all 0.66s ease;
  -webkit-transition: all 0.66s ease;
}

.nav:hover {
  opacity: 1;
}

#left {
  left: 3%;
}

#right {
  right: 3%;
}

@media only screen and (max-width: 991px) {
  #left,
#right {
    z-index: 3;
  }
}

.owl-theme .owl-dots {
  text-align: left !important;
}
@media only screen and (max-width: 991px) {
  .owl-theme .owl-dots {
    text-align: center !important;
  }
}

.test {
  position: absolute;
  z-index: 999;
  display: flex;
}

.active .test-squart {
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px var(--color-primary) !important;
}

.test-squart {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px var(--color-secondary) !important;
  margin-right: 37px;
}
@media only screen and (max-width: 991px) {
  .test-squart {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
}

.test-one {
  background-image: url(../../img/slider/01.jpg);
  background-size: contain;
}

.test-two {
  background-image: url(../../img/slider/02.jpg);
  background-size: contain;
}

.test-three {
  background-image: url(../../img/slider/03.jpg);
  background-size: contain;
}

.test-four {
  background-image: url(../../img/slider/04.jpg);
  background-size: contain;
}

.carouselMB {
  background: transparent;
  margin-top: 100px;
  margin-bottom: 100px;
}

.carousel-cell {
  width: 40%;
  height: 450px;
  margin-right: 50px;
  border-radius: 20px;
  counter-increment: carousel-cell;
  transform: scale(1) !important;
  transition: all 0.3s ease;
  background: #f1fbff;
  background-blend-mode: soft-light, normal;
  border: none;
}
@media only screen and (max-width: 767px) {
  .carousel-cell {
    width: 36%;
  }
}
@media only screen and (max-width: 575px) {
  .carousel-cell {
    width: 66%;
  }
}

.carousel-cell.is-selected {
  box-shadow: inset -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), inset 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
}

.main-blog {
  background-image: url(../../img/fondo/fondo-blog.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
}

.title-card-blog {
  width: 100% !important;
  font-size: 1.6rem;
}
@media only screen and (max-width: 991px) {
  .title-card-blog {
    font-size: 1.4rem;
  }
}

blog-banner {
  width: 100%;
  height: 280px;
  background-size: cover;
  margin-top: 110px;
}
@media only screen and (max-width: 767px) {
  blog-banner {
    margin-top: 140px;
  }
}

blog-date {
  color: var(--color-primary);
  line-height: 3;
  font-weight: 500;
  display: flex;
  font: 20px var(--font-primary);
  margin-bottom: 40px;
}
blog-date img {
  margin-right: 10px;
  width: 20px;
}

.richtext {
  font-family: var(--font-primary) !important;
  font-style: normal;
  font-weight: lighter;
  margin: auto;
  display: block;
  text-align: justify;
}
.richtext h1 {
  font: 36px var(--font-secondary);
  color: var(--color-primary);
  font-weight: bold;
  margin-top: 20px;
}
.richtext .fecha {
  color: var(--color-primary);
  line-height: 3;
  font-weight: 500;
}
.richtext p {
  text-align: justify;
  color: #555;
  font-weight: lighter;
  font: 20px var(--font-primary) !important;
  font-style: normal;
  letter-spacing: 0em;
  margin-bottom: 20px;
}
@media only screen and (max-width: 575px) {
  .richtext p {
    text-align: left;
  }
}
.richtext h2 {
  font-size: 25px;
  color: var(--color-primary);
  font-weight: bold;
  margin-top: 50px;
}
.richtext a {
  font-size: 20px;
  color: var(--color-primary);
  list-style: none;
  text-decoration: none;
  background: #cef1ff;
  padding: 3px 10px;
  transition: all 0.2s ease;
}
.richtext a:hover {
  background: var(--color-secondary);
  color: white;
}
.richtext strong {
  color: #555;
  font-weight: bold;
}
.richtext ul {
  margin-top: 40px;
  list-style: none;
  margin-bottom: 40px;
}
.richtext ul li {
  list-style: none;
  color: #555;
  font: 20px var(--font-primary) !important;
  font-weight: lighter;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  line-height: 30px;
  margin-left: 20px;
  padding-left: 0;
  position: relative;
}
.richtext ul li:after {
  position: absolute;
  left: -20px;
  top: 8px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-secondary);
}
.richtext ul p {
  margin-left: 20px;
}

.product-item {
  position: relative !important;
  height: 450px !important;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 0 15px;
  flex-basis: 30%;
  height: auto !important;
  justify-content: center;
}
.product-grid::after {
  height: auto !important;
}
@media only screen and (max-width: 767px) {
  .product-grid {
    display: block;
    padding: 0;
  }
}
.product-grid .card {
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px;
  width: 290px;
}
@media only screen and (max-width: 767px) {
  .product-grid .card {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 1260px) and (max-width: 1339px) {
  .product-grid .card {
    width: 280px;
  }
}
@media (min-width: 1220px) and (max-width: 1259px) {
  .product-grid .card {
    width: 270px;
  }
}
@media (min-width: 1180px) and (max-width: 1219px) {
  .product-grid .card {
    width: 260px;
  }
}
@media (min-width: 1140px) and (max-width: 1179px) {
  .product-grid .card {
    width: 250px;
  }
}
@media (min-width: 940px) and (max-width: 1119px) {
  .product-grid .card {
    width: 320px;
  }
}
.product-grid .textlinks a {
  background: none !important;
  padding: 0;
}
.product-grid .text-card {
  padding: 10px 20px 10px 20px;
}
.product-grid .text-card span {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #0266AB;
}
.product-grid .text-card p {
  font-family: var(--font-primary) !important;
  font-style: normal !important;
  font-weight: lighter !important;
  font-size: 14px !important;
  line-height: 17px !important;
  padding-top: 10px;
  padding-bottom: 9px;
  color: #555;
}
.product-grid .text-card .contentFecha {
  margin-top: -10px;
}

/*# sourceMappingURL=site.css.map */
