/*
 * Button
 * @author mfyance
 */

.button {
    cursor: pointer;
    position: relative;
    width: inherit;
    margin: initial;
    border: none;
    transition: all 0.5s ease;
    background-size: 200% auto;
    text-transform: uppercase;
    border-radius: 10px;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    transition: all 0.2s ease;
    top: 0;
    padding: inherit;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-primary--is-full {
    width: 100%;
}

.button-primary img {
    margin-right: 20px;
    max-width: 40px;
}

.button-primary:hover {
    background: #e0fbff;
    transform: scale(1.1, 1.1);
}

.button-primary {
    padding: 20px 40px;
    font: 20px var(--font-secondary);
    line-height: 9px;
    border: 0;
    background: #ffffff;
    color: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    width: 100%;
    max-width: 400px;
    transition: all .2s ease;
}

.button-second {
    border: none;
    align-items: center;
    justify-content: center;
    width: 606px !important;
    height: 100px !important;
    left: 424px;
    top: 1683px;
    background: linear-gradient(180deg, var(--color-secondary) -77.78%, var(--color-primary) 202.75%, var(--color-secondary) 202.78%);
    filter: drop-shadow(0px 30px 40px rgba(165, 164, 164, 0.1));
    border-radius: 75px;
}

.button-prendas {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 600px;
    padding: 15px 50px;
    background: linear-gradient(180deg, var(--color-secondary) -77.78%, var(--color-primary) 202.75%, var(--color-secondary) 202.78%);
    filter: drop-shadow(0px 30px 40px rgba(165, 164, 164, 0.1));
    border-radius: 200px;
}

#btn-menu {
    display: none;
}




















.button-secondary:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.button-secondary {
    position: relative;
    z-index: 2;
    display: inline-flex;
    width: auto;
    letter-spacing: 1px;
    color: white;
    font: 20px var(--font-primary);
    padding: 20px;
    list-style: none;
    text-decoration: none !important;
    box-shadow: -8.90123px -8.90123px 26.7037px rgba(255, 255, 255, 0.5), 13.3518px 13.3518px 26.7037px rgba(174, 174, 192, 0.4);
}
.button-secondary:hover {
    background: none;
    color: white;
}
.button-secondary:hover + .button-secondary-effect .circle {
    background: var(--color-primary);
}
.button-secondary:hover + .button-secondary-effect .button {
    background: var(--color-primary);
}
.button-secondary:active + .button-secondary-effect {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}
.button-secondary-container {
    position: relative;
    display: inline-block;
    margin-top: 50px;
}
.button-secondary-container .effect-button {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: linear-gradient(205deg, rgb(255, 216, 0) 25%, rgb(255, 147, 0) 100%);
    -webkit-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
}

.button-secondary-effect {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    -webkit-filter: url("#goo");
    filter: url("#goo");
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    pointer-events: none;
}
.button-secondary-effect .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #ffd600;
    -webkit-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
}
.button-secondary-effect .circle.top-left {
    top: 40%;
    left: 27%;
}
.button-secondary-effect .circle.bottom-right {
    bottom: 40%;
    right: 27%;
}

.button-secondary-svg {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
}




@media only screen and (max-width: 1000px) {
    .button-secondary{
        width: 100%;
    }

    .button-prendas{
        border-radius: 0px;
        width: 100%;
    }

}
