/*
 * Colores
 * @author mfyance
 */


[class*="color-"]{
    transition: all .3s ease;
}

[color-default = white]{ 
    color : #fff 
}

[color-hover = primary]:hover,
.color-primary{
    color: var(--color-primary);
}

.active [color-hover = primary-light],
[color-hover = primary-light]:hover,
.color-primary-light{ 
    color: var(--color-primary-light); 
}

[color-hover = secondary]:hover,
.color-secondary{ 
    color: var(--color-secondary); 
}

.active [color-hover = secondary-black],
[color-default = secondary-black],
[color-hover = secondary-black]:hover{
    color: var(--color-secondary-black)
}

[color-hover = terciary]:hover,
.color-terciary{ 
    color: var(--color-terciary); 
}

[color-hover = tag-otros]:hover,
.color-tag-otros{ 
    color: var(--color-tag-otros); 
}

[color-hover = tag-permiso]:hover,
.color-tag-permiso{ 
    color: var(--color-tag-permiso); 
}

[color-hover = tag-autorizacion]:hover,
.color-tag-autorizacion{ 
    color: var(--color-tag-autorizacion); 
}

.color-humo{ color: var(--color-humo); }
.color-grey{color: var(--color-grey);}
.color-grey-light{color: var(--color-grey-light);}
.color-grey-medium{color: var(--color-grey-medium);}
.color-grey-black{color: var(--color-grey-black);}
.color-error{ color: var(--color-error); }
.color-success{ color: var(--color-success); }
.color-white{color: #ffffff !important;}


[color-tag = permiso]{  color: var(--color-tag-permiso); }
[color-tag = autorizacion]{  color: var(--color-tag-autorizacion); }
[color-tag = otros]{  color: var(--color-tag-otros); }


